@import "~antd/dist/antd.css";
body,
html,
#root,
.App {
  height: 100%;
  color: #202002;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
h1,h2,h3,p {
  padding: 0;
  margin: 0;
}
*{
  outline: none;
}

.wrapper {
  height: 100%;
}

.date-format {
  font-size: 12px;
  opacity: 0.5;
}