.dialogs {
  &__item {
    padding: 10px 20px;
    cursor: pointer;
  }
  &__search {
    padding: 0 20px 20px 20px;

    .ant-input {
      background-color: #f3f7ff;
      border: 0;
      height: 38px;
      padding: 4px 11px 6px;
    }
  }
  &__list {
    overflow: auto;
    height: calc(100% - 125px);
  }
}
